alias sshlicor="ssh client13-licordeaveiro@172.104.145.134"
alias sshcooldown="ssh internal01-cooldowngaming@172.104.145.134"
alias sshtipmeprodroot="ssh root@172.105.67.184"
alias sshtipmeprod="ssh bonifacio@172.105.67.184"
alias sshmtt="ssh client01-mototraveltours@172.104.145.134"
alias sshcooldown="ssh internal01-cooldowngaming@172.104.145.134"
alias sshpumpkindev="ssh pumpkindev@172.104.227.250"
alias sshdevpglobal="ssh devpglobal@172.104.227.250"
alias sshfortexal="ssh client08-fortexal@172.104.145.134"
alias sshtcgsets="ssh internal06-pikachu@172.104.145.134"
alias sshjocar="ssh client16-jocar@172.104.145.134"